extends layout


block content


  h1(class="text-center", style="color:#3e95cd")= title
  p(class="text-center", style="font-size:20px;font-weight:bold") Welcome to #{title}! 
  br
  div(style='background-color: rgb(255,249,230);padding: 1.0em;width: 80.0em;margin: 1.0em 0;border: solid 1.0px rgb(204,204,204);')
    p CareerExporer provides an interactive display of the datasets from Bureau of Labor Statistics. Here you can view popular labor statistics, as well as create your own queries and charts.
    p For example, the following list and the chart below shows top 10 highest paid occupations:
    ol
        each element in JSON.parse(hpaid)
            li= element['OCC_TITLE']      
  p
  br
  br

  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')


 
  canvas#bar-chart-horizontal(width='800', height='450')

  script.
    var myHpaid = !{hpaid};
    console.log(myHpaid);
    data = myHpaid;
    //console.log(data);
    
    new Chart(document.getElementById("bar-chart-horizontal"), {
    type: 'horizontalBar',
    data: {
      labels: [data[0]['OCC_TITLE'], data[1]['OCC_TITLE'], data[2]['OCC_TITLE'], data[3]['OCC_TITLE'], data[4]['OCC_TITLE'], data[5]['OCC_TITLE'], data[6]['OCC_TITLE'], data[7]['OCC_TITLE'], data[8]['OCC_TITLE'], data[9]['OCC_TITLE']],
      datasets: [
        {
          label: "Salary",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95ch", "#8e56a1","#3cb690","#e862b9","#c45950" ],
          data: [data[0]['A_MEDIAN'], data[1]['A_MEDIAN'], data[2]['A_MEDIAN'], data[3]['A_MEDIAN'], data[4]['A_MEDIAN'], data[5]['A_MEDIAN'], data[6]['A_MEDIAN'], data[7]['A_MEDIAN'], data[8]['A_MEDIAN'], data[9]['A_MEDIAN']]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Top 10 highest paid occupations as of 2016'
      }
    }
    });
  
  p
  br
  br
  div(style='background-color: rgb(255,249,230);padding: 1.0em;width: 80.0em;margin: 1.0em 0;border: solid 1.0px rgb(204,204,204);')
    p The following chart illustrates the most popular occupations with more than 1 million employees
  br

  canvas#bar-chart(width='800', height='450')
  
  script.
      var myOcc = !{occ};
      console.log(myOcc);
      data = myOcc.slice(0,4);
      console.log(data);
      
      new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
          labels: [data[3]['OCC_TITLE'], data[0]['OCC_TITLE'], data[1]['OCC_TITLE'], data[2]['OCC_TITLE']],
          datasets: [
            {
              label: "Employed",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
              data: [data[3]['TOT_EMP'], data[0]['TOT_EMP'], data[1]['TOT_EMP'], data[2]['TOT_EMP']]
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'Occupations with more than 1-million employees'
          }
        }
      });
  
  div(style='background-color: rgb(255,249,230);padding: 1.0em;width: 80.0em;margin: 1.0em 0;border: solid 1.0px rgb(204,204,204);')
    p This line chart shows total employment in selected states over a period of 2014 - 2016. 
    p Sign up to query other states!
  br
  br
  
  canvas#line-chart(width='800', height='450')

  script.

    var myStates = !{states};

    data = myStates;

    new Chart(document.getElementById("line-chart"), {
      type: 'line',
      data: {
        labels: [data[0]['YEAR_ID'], data[1]['YEAR_ID'], data[2]['YEAR_ID']],
        datasets: [{ 
            data: [data[0]['SUM'], data[1]['SUM'], data[2]['SUM']],
            label: "Alaska",
            borderColor: "#3e95cd",
            fill: false
          }, { 
            data: [data[3]['SUM'], data[4]['SUM'], data[5]['SUM']],
            label: "Alabama",
            borderColor: "#8e5ea2",
            fill: false
          }, { 
            data: [data[6]['SUM'], data[7]['SUM'], data[8]['SUM']],
            label: "Arkansas",
            borderColor: "#3cba9f",
            fill: false
          }, { 
            data: [data[9]['SUM'], data[10]['SUM'], data[11]['SUM']],
            label: "Arizona",
            borderColor: "#e8c3b9",
            fill: false
          }, { 
            data: [data[15]['SUM'], data[16]['SUM'], data[17]['SUM']],
            label: "Colorodo",
            borderColor: "#c45850",
            fill: false
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Employment timeline data in various states from 2014 - 2016'
        }
      }
    });

  br
  br
  br
