extends layout

block header
  head
  meta(charset='UTF-8')
  title Responsive & Accessible Data Table
  script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', type='text/javascript')
  meta(name='viewport', content='width=device-width')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
  style.
    /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
    * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    body {

    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: #5e5d52;
    }
    a {
    color: #337aa8;
    }
    a:hover, a:focus {
    color: #4b8ab2;
    }
    .container {
    margin: 5% 3%;
    }
    @media (min-width: 48em) {
    .container {
    margin: 2%;
    }
    }
    @media (min-width: 75em) {
    .container {
    margin: 2em auto;
    max-width: 75em;
    }
    }
    .responsive-table {
    width: 50%;
    margin-bottom: 1.5em;
    }
    @media (min-width: 48em) {
    .responsive-table {
    font-size: .9em;
    }
    }
    @media (min-width: 62em) {
    .responsive-table {
    font-size: 1.0em;
    }
    }
    .responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    }
    @media (min-width: 48em) {
    .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
    }
    }
    .responsive-table thead th {
    background-color: #1d96b2;
    border: 1px solid #1d96b2;
    font-weight: normal;
    text-align: center;
    color: white;
    }
    .responsive-table thead th:first-of-type {
    text-align: left;
    }
    .responsive-table tbody,
    .responsive-table tr,
    .responsive-table th,
    .responsive-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
    }
    @media (min-width: 48em) {
    .responsive-table tr {
    display: table-row;
    }
    }
    .responsive-table th,
    .responsive-table td {
    padding: .5em;
    vertical-align: middle;
    }
    @media (min-width: 30em) {
    .responsive-table th,
    .responsive-table td {
    padding: .75em .5em;
    }
    }
    @media (min-width: 48em) {
    .responsive-table th,
    .responsive-table td {
    display: table-cell;
    padding: .5em;
    }
    }
    @media (min-width: 62em) {
    .responsive-table th,
    .responsive-table td {
    padding: .75em .5em;
    }
    }
    @media (min-width: 75em) {
    .responsive-table th,
    .responsive-table td {
    padding: .75em;
    }
    }
    .responsive-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    }
    @media (min-width: 48em) {
    .responsive-table caption {
    font-size: 1.0em;
    }
    }
    .responsive-table tfoot {
    font-size: .8em;
    font-style: italic;
    }
    @media (min-width: 62em) {
    .responsive-table tfoot {
    font-size: .9em;
    }
    }
    @media (min-width: 48em) {
    .responsive-table tbody {
    display: table-row-group;
    }
    }
    .responsive-table tbody tr {
    margin-bottom: 1em;
    border: 2px solid #1d96b2;
    }
    @media (min-width: 48em) {
    .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
    }
    }
    .responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
    }
    @media (min-width: 48em) {
    .responsive-table tbody tr:nth-of-type(even) {
    background-color: rgba(94, 93, 82, 0.1);
    }
    }
    .responsive-table tbody th[scope="row"] {
    background-color: #1d96b2;
    color: white;
    }
    @media (min-width: 48em) {
    .responsive-table tbody th[scope="row"] {
    background-color: transparent;
    color: #5e5d52;
    text-align: left;
    }
    }
    .responsive-table tbody td {
    text-align: right;
    }
    @media (min-width: 30em) {
    .responsive-table tbody td {
    border-bottom: 1px solid #1d96b2;
    }
    }
    @media (min-width: 48em) {
    .responsive-table tbody td {
    text-align: center;
    }
    }
    .responsive-table tbody td[data-type=currency] {
    text-align: center;
    }
    .responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: .8em;
    color: rgba(94, 93, 82, 0.75);
    }
    @media (min-width: 30em) {
    .responsive-table tbody td[data-title]:before {
    font-size: .9em;
    }
    }
    @media (min-width: 48em) {
    .responsive-table tbody td[data-title]:before {
    content: none;
    }
    }
  script(src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js')

  
block content
  h1=title
  p Welcome to your personal profile! 
  p This information was set during your sign up
  
  h1=message
  
  div.row
    div.col-sm-6
      form( action="/profile" method="post")
        .container
          table.responsive-table
            caption Your Current Career Profile
            thead
              tr
                th(data-title='Studio') Profile
                th(data-title='Studio') Data

            tbody
              tr
                th(data-title='Studio') First Name
                td(data-title='Studio') 
                  input.form-control(type="text" name="fname" value=data[0].firstname)
              tr
                th(data-title='Studio') Last Name
                td(data-title='Studio')
                  input.form-control(type="text" name="lname" value=data[0].lastname)
              tr
                th(data-title='Studio') Current State
                td(data-title='Studio') 
                  select.form-control(type="text" name="state")
                    each val, key in state
                      if (key == data[0].stateID)
                        option(value=key selected) #{val}
                      else
                        option(value=key) #{val}
              tr
                th(data-title='Studio') Current Occupation
                td(data-title='Studio')
                  select#occ.form-control(type="text" name="occ_title")
                    each val, key in occ
                      if (val == currentOCC[0].OCC_TITLE)
                        option(value=key selected) #{val}
                      else
                        option(value=key) #{val}
              tr
                th(data-title='Studio') Current Education
                td(data-title='Studio')
                  select#occ.form-control(type="text" name="currentEdu")
                    each val, key in edu
                      if (key == currentEdu[0].eduLevelID)
                        option(value=key selected) #{val}
                      else
                        option(value=key) #{val}
              tr
                th(data-title='Studio') Current Employer
                td(data-title='Studio')
                  input.form-control(type="text" name="companyEmp" value=currentEMP[0].companyEmp)
              tr
                th(data-title='Studio') Current Salary	
                td(data-title='Studio', data-type='currency')
                  input.form-control(type="text" name="salary" value=currentSalary[0].salary)
        
        div.form-row
        div.form-group.col-md-6
            br
            button.btn.btn-primary.col-md-6(type="submit") Update Profile
      
    div.col-sm-6
      .container
        table.responsive-table
          caption Your Favorites
          thead
            tr
              th(data-title='Studio') Data Set
              th(data-title='Studio') Filters
              th(data-title='Studio') Remove
          tbody
            each row in fav
              tr
                td(data-title='Studio') 
                  a(href="/explore?queryData="+JSON.stringify(row.queryData)) #{row.queryData.data_set}
                td(data-title='Studio') #{JSON.stringify(row.queryData)}
                td(data-title='Studio') 
                  button.btn.btn-primary.delbtn(id="btn-"+row.favID type="submit") DELETE

  div.row
    .container
      table.responsive-table
        caption Statistical Highlights for Your Occupation
        thead
          tr
            th(data-title='Studio')
            th(data-title='Studio') Mean Salary  <a style='color:white;font-size:10px'><br>(Nationwide)</a>
            th(data-title='Studio') Mean Salary  <a style='color:white;font-size:10px'><br>(Your State)</a>
            th(data-title='Studio') Most Employed State
            th(data-title='Studio') Educational Level 
            th(data-title='Studio') Total Employed  <a style='color:white;font-size:10px'><br>(Nationwide)</a>
        tbody
            tr
              td(data-title='Studio')
              td(data-title='Studio') #{(parseFloat(mean_sal)).toFixed(1)}
              td(data-title='Studio') #{(parseFloat(sal_state)).toFixed(1)}
              td(data-title='Studio') #{most_emp_state}
              td(data-title='Studio') #{edu_level}
              td(data-title='Studio') #{tot_emp_nation}
        thead
          tr
            th(data-title='Studio')
            th(data-title='Studio') Nationwide Salary Ranking
            th(data-title='Studio') State Salary Ranking
            th(data-title='Studio') Your State
            th(data-title='Studio') Educational Level <a style='color:white;font-size:10px'><br>(your state)</a>
            th(data-title='Studio') Total Employed  <a style='color:white;font-size:10px'><br>(your state)</a>
        tbody
            tr
              td(data-title='Studio') 
              td(data-title='Studio') <abbr title="Your current salary ranking is determined based off the Mean Natiowide Salary. This ratio indicates your salary difference.">#{(((currentSal/mean_sal)*100)-100).toFixed(2)}% </abbr>
              td(data-title='Studio') <abbr title="Your current salary ranking is determined based off the Mean Salary of YOUR State. This ratio indicates your salary difference.">#{(((currentSal/sal_state)*100)-100).toFixed(2)}% </abbr>
              td(data-title='Studio') #{user_state}
              td(data-title='Studio') <abbr title="Average Educational Level for Your Occupation in Your State.">#{edu_level} </abbr>
              td(data-title='Studio') #{(parseFloat(tot_emp_state)).toFixed(0)}



  div(style='background-color: rgb(255,249,230);padding: 1.0em;width: 50.0em;margin: 1.0em 0;border: solid 1.0px rgb(204,204,204);')
    p The occupation of <strong>#{currentOCC[0].OCC_TITLE}</strong> has the following distibution of educational levels:
    br     

  div.row
    .container
      table.responsive-table
        caption Nationwide Employment Count of Your Occupation Based on Educaltional Levels
        thead
          tr
            th(data-title='Studio') Educational Level
            th(data-title='Studio') Degree Holders Count

        tbody
            tr
              td(data-title='Studio') Doctoral or Professional Degree
              td(data-title='Studio') #{doc_emp_sum}
            tr
              td(data-title='Studio') Master Degree
              td(data-title='Studio') #{master_emp_sum}
            tr
              td(data-title='Studio') Bachelor Degree
              td(data-title='Studio') #{bach_emp_sum}
            tr
              td(data-title='Studio') Associate Degree
              td(data-title='Studio') #{associate_emp_sum}
            tr
              td(data-title='Studio') High School Diploma or Less
              td(data-title='Studio') #{lower_emp_sum}



  div(style='background-color: rgb(255,249,230);padding: 1.0em;width: 50.0em;margin: 1.0em 0;border: solid 1.0px rgb(204,204,204);')
    p See below in which states your occupation of <strong>#{currentOCC[0].OCC_TITLE}</strong> is most popular! The below chart shows top ten states employed nationwide
    br

  canvas#bar-chart(width='800', height='450')
    
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
  script.
      var top_ten = !{top_ten};

      data = top_ten;


      new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
          labels: [data[0]['STATE_ID'], data[1]['STATE_ID'], data[2]['STATE_ID'], data[3]['STATE_ID'], data[4]['STATE_ID'], data[5]['STATE_ID'], data[6]['STATE_ID'],data[7]['STATE_ID'],data[8]['STATE_ID'],data[9]['STATE_ID']],
          datasets: [
            {
              label: "Employed",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#c99855", "#d99850", "#c22322", "#b45844", "#c49950" ],
              data: [data[0]['TOT_EMP'], data[1]['TOT_EMP'], data[2]['TOT_EMP'], data[3]['TOT_EMP'], data[4]['TOT_EMP'], data[5]['TOT_EMP'], data[6]['TOT_EMP'], data[7]['TOT_EMP'], data[8]['TOT_EMP'], data[9]['TOT_EMP']],
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'Top Ten States with Highest Number of Employees for Your Occupation'
          }
        }
      });

block footer
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  
  script.
    $(document).ready(function(){
      var $btns = $('.delbtn');
      
      $btns.click( function(d){
        console.log(this.id.split('-')[1]);
        var params = { favID:this.id.split('-')[1], fav:'fav'};
        $.ajax({
          type: 'POST',
          url: '/profile',
          data: params,
          success: function(r){
            console.log(r);
            $(location).attr('href', '/profile')
          },
          dataType: 'json'
        });
      });
    })
  
  
